body, html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('images/nightyorkcity.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    background-color: #213079;
    color: white;
    padding: 20px;
    text-align: center;
}

#aboutBackground {
    padding: 20px;
    background-color: #ece2d3;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 800px;
    border: 10px solid #144260
}

#aboutContent {
    text-align: left;
    padding: 20px;
}

p.phone {
    border-bottom: 1px solid black; 
    padding-bottom: 5px; 
}



